 
/* custom properties/css-variables */

:root{
    --main-brown-color:#61310F;
    --green-color:#3B543D;
    --main-font:'Antonio', sans-serif;
    --serif-font:'Cormorant SC', serif;
    --subheading-color:#252525;
}

/* Developed mobile first */

body{
    margin:0px auto;
}
h1{
    font-family: var(--main-font);
}
main{
     margin:0px auto;
}
body{
    font-family: 'Open Sans', 'roboto', 'Segoe UI',sans-serif;
}

/* header (logo, drop-down menu)*/
#header-background-image{
    background:url(/images/coffee-background.jpg) center/cover no-repeat;
    padding-bottom:10px;
}
header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:20px;
}
#logo{
max-width:120px;
height:auto;
margin-left:2em;
}

nav{
    font-family: var(--main-font);
    font-size:1.7em;
    font-weight:100;
    position:absolute;
    display:none;
    right:0;
    left:0;
    top:70px;
    padding-bottom:35px;
    background: rgb(68,35,14);
    background: linear-gradient(0deg, rgba(68,35,14,1) 13%, rgba(42,21,5,1) 78%);
    border-top:2px solid #61310F;
    animation: drop-down-menu 0.2s ease-in 1;
}
@keyframes drop-down-menu{
    from{
        top:0;
    }
    to{
        top:70px;
    }
}
nav ul li{
    list-style-type:none;
    margin-top:30px;
    margin-left:10%;
    animation: nav-delay-animation 1s ease-in-out;
}
@keyframes nav-delay-animation{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}
nav a{
    color:#fff;
    text-decoration: none;
}
#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}

.fa-bars{
    font-size:1.8em;
    color:#fff;
    padding-top:5px;
    margin-right:1em;
}