main{
    margin-top:80px;
}
#index-background-image{
    background:url(/images/coffee-background.jpg) 40%/cover no-repeat;
}
#index-bottom-background{
    position:relative;
    padding-bottom: 75px;
}
h3, .fa-chevron-circle-left, .fa-chevron-circle-right ,#posts-carousel, .cta{
    position: relative;
    z-index: 2;
}
#index-bottom-background::before{
    content:"";
    background: url(/images/index-bottom-background.jpg) 80%/cover no-repeat;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    opacity:0.85;
    z-index: 1;
}
h1{
    font-size:2.4em;
    color:#fff;
    font-weight: 800;
    width:80%;
}
h1, h2, h3, h4, .index-cta{
    text-align: center;
    margin:0px auto;
}
h2{
    font-family:var(--serif-font);
    color:rgb(220, 220, 220);
    font-size:2.3em;
    font-weight:400;
    text-transform: capitalize;
    margin-top:10px;
    margin-bottom:75px;
}
h3{
    font-family: var(--main-font);
    font-size:1.6em;
    margin-top:0px;
    padding:20px;
    font-weight:400;
    text-transform: capitalize;
}
h4{
    font-family:var(--main-font);
    color:#fff;
    max-width:85%;
    height:10%;
    font-size:1.3em;
    margin-top:10px;
}
a{
    text-decoration: none;
}
.burger-menu-container{
    padding-top:5px;
}
.burger-checked{
    padding-top:5px;
}
/* index-cta, cta-animation and hover */
.index-cta {
    font-family: var(--main-font);
    color:#fff;
    font-size:1.1em;
    font-weight:200;
    border:1px solid #fff;
    text-decoration: none;
    width:150px;
    padding:10px;
    border-radius:2px;
    animation: background-opacity-cta 4s ease-in-out infinite;
    transition: "background-color" 1s ease-in-out;
    box-shadow: var(--box-shadow);
}
.index-cta:hover{
    background-color: var(--green-color);
    animation-name:none;
    border-color:#ffffff00;
    transform:scale(1.05);
}
@keyframes background-opacity-cta {
    0%{
        background-color:#0000009e;
    }
    50%{
        background-color:var(--green-color);
    }
    100%{
        background-color:#0000009e;
    }
}
#index-cta-padding{
    padding-bottom:75px;
    text-decoration: none;
}
.cta{
    font-size: 1.1em;
    box-shadow: 3px 3px 15px #000;
}
/* posts-carousel, carousel icons  */

#posts-carousel{
    max-width:90%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin:0px auto;
    margin-top:10px;
    gap:15px;
}
.post-container{
    max-width:175px;
    height:225px;
    background-color:var(--green-color);
    box-shadow: var(--box-shadow);
    transition:all 0.2s ease-in-out;
}
.post-container:hover{
    transform: scale(1.05);
}
.featured-image{
    width: 100%;
	height:50%;
	background-position: center top;
	background-size: cover;
    background-repeat: no-repeat;
}
.fa-chevron-circle-left, .fa-chevron-circle-right{
    color:var(--dark-gray-color);
    cursor: pointer;
    font-size: 3em;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.494);
}
.fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover{
    color:var(--green-color);
    transform:scale(1.1);
}
#carousel-arrows{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#left-carousel-button, #right-carousel-button{
    position:relative;
    z-index: 2;
    background: none;
    border:none;
    margin-bottom:15px;
}
#left-carousel-button{
    display:none;
}
.dot-indicator-one, .dot-indicator-two{
    position:relative;
    z-index: 2;
    border-radius: 50%;
    width:15px;
    height:15px;
    margin:0px auto;
}
#dot-indicator-container{
    display:flex;
    justify-content: space-around;
    width:65px;
    margin:0px auto;
    margin-top:20px;
} 

/* read-link */
.read-link{
    font-family: var(--serif-font);
    font-size:2.2em;
    font-style:italic;
    font-weight: 200;
    color:rgb(220, 220, 220);
    text-align: right;
    margin-right:15px;
    margin-bottom:15px;
}
/* MEDIA QUERIES */
@media only screen and (min-width:390px){
    h4{
        width:70%;
        margin-top:15px;
    }
    #posts-carousel{
        max-width:350px;
    }
    .post-container{
        max-width:175px;
    }
}
@media only screen and (min-width:500px){
    h1{
        font-size:3em;
        width:65%;
    }
    h2{
        font-size:2.5em;
    }
    h3{
        font-size:2em;
    }
    h4{
        width:70%;
        margin-top:15px;
    }
    .index-cta {
        font-size:1.2em;
        width:165px;
    }
    #index-cta-padding{
        padding-bottom:125px;
    }
    .fa-chevron-left, .fa-chevron-right{
        font-size:2.5em;
    }
    #posts-carousel{
        max-width:400px;
    }
    .post-container{
        max-width:175px;
    }
}
@media only screen and (min-width:700px){
    h1{
        font-size:3.5em;
        width:65%;
    }
    h2{
        font-size:3.2em;
    }
    h3{
        font-size:2em;
    }
    /* index-cta */
    .index-cta {
        font-size:1.3em;
    }
    #index-cta-padding{
        padding-bottom:150px;
    }
}
@media only screen and (min-width:800px){
    h1{
        font-size:3.8em;
        width:50%;
    }
    h2{
        font-size:3.5em;
        margin-bottom:60px;
    }
    h3{
        font-size:2.3em;
    }
    h4{
        width:65%;
        height:20%;
        font-size:1.4em;
    }
    .dot-indicator-one, .dot-indicator-two{
        width:18px;
        height:18px;
    }
    /* index-cta */
    .index-cta {
        font-size:1.4em;
    }
    .fa-chevron-left, .fa-chevron-right{
        margin-bottom:25px;
    }
    #posts-carousel{
        max-width:85%;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100%;
        justify-content: center;
        margin:0px auto;
        row-gap:15px;
    }
    #index-bottom-background::before{
        background: url(/images/index-bottom-background.jpg) center/cover no-repeat;
    }
    .post-container{
        max-width:200px;
        height:275px;
        background-color:var(--green-color);
        margin-top:10px;
    }
    /* read-link */
    .read-link{
        margin-top:20px;
    }
}
@media only screen and (min-width:1150px){
    main{
        margin-top:150px;
    }
    h1{
        font-size:4em;
        width:45%;
    }
    h2{
        font-size:3.5em;
        margin-bottom:60px;
    }
    h3{
        font-size:2.6em;
    }
    h4{
       font-size:1.6em;
    }
    #logo{
        background-color:#0000009e;
        border-radius: 2px;
        padding:5px;
    }
    #index-cta-padding{
        padding-bottom:250px;
    }
    #index-background-image{
        background:url(/images/background-big-screen-cropped.jpg) 60%/cover no-repeat;
    }
    #posts-carousel{
        width:85%;
        max-width:1000px;
        row-gap: 25px;
    }
    .post-container{
        max-width:225px;
        height:300px;
    }
    #index-bottom-background::before{
        background: url(/images/index-bottom-background.jpg) center/cover no-repeat;
    }
}
@media only screen and (min-width:1600px){
    h1{
        width:30%;
    }
    #index-background-image{
        background:url(/images/background-big-screen-cropped.jpg) 35%/cover no-repeat;
    }
}