h1{
    font-size:1.9em;
    font-weight: 400;
    margin-top:35px;
}
h2{
    font-family:var(--serif-font);
    font-size:1.5em;
    font-weight:600;
    font-style:italic;
}
a{
    text-decoration: none;
}
 #more-posts-button{
     margin-top:50px;
     text-align: center;
} 
.top-text-width{
    border-bottom:1px solid var(--green-color);
    padding-bottom:25px;
}
/* Blogpost-container/posts */
h3{
    font-family:var(--main-font);
    font-size:1.6em;
    color:#fff;
    margin-top:20px;
    margin-bottom:0px;
}
.container-text-width, .top-text-width{
    max-width:85%;
    margin:0px auto;
}
.description{
    color:#fff;
    text-decoration: none;
}
.date{
    font-style: italic;
    font-size:0.9em;
    font-weight:200;
    color:#fff;
    margin-top:0px;
}
.blog-list-container{
     padding-top:50px;  
     height:100%;
     display:flex;
     flex-direction:column;
}
.read-link{
    font-style: italic;
    font-weight:200;
    color:#fff;
    text-align: end;
    margin-right:25px;
}
.brown-post-container{
    background-color:var(--main-brown-color);
    padding-bottom:15px;
}
.featured-image{
    width: 100%;
	height:225px;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

/* FOOTER */


/* MEDIA QUERIES */

@media only screen and (min-width:450px){

    .container-text-width, .top-text-width{
        max-width:75%;
    }
    .featured-image{
        height:300px;
    }
}
@media only screen and (min-width:550px){
    .blog-list-container{
        flex-flow:row wrap;
    }
    .green-post-container{
        padding-bottom:15px;
    }
    .brown-post-container{
        max-width:50vw;
        height:100%;
    }
    .featured-image{
        width: 100%;
        height:225px;
    }
}
@media only screen and (min-width:900px){

    .blog-list-container{
        width:100%;
    }

    .brown-post-container{
        max-width:33.3vw;
        padding-bottom:0px;
    }
    .top-text-width{
        max-width: 50%;
        margin-left:10%;
    }
}