main{
    max-width:700px;
    margin:0px auto;
}
h1{
    font-size:2.2em;
    margin:20px 0px 0px 7%;
}
h2{
    font-family:var(--main-font);
    font-size:1.8em;
    margin-top:50px;
    color:var(--subheading-color);
    text-transform: capitalize;
}
h3{
    font-family: var(--main-font);
    font-size: 1.4em;
    font-weight:500;
    color:rgb(110, 110, 110);
}
h4{
    font-family: var(--main-font);
    font-size: 1.2em;
    color:var(--subheading-color);
}
.post-content{
    width:85%;
    margin:0px auto;
}
.post-content p{
    margin-top:25px;
    max-width:600px;
}
.wp-block-image img {
    display:block;
    width:100%;
    max-width: 500px;
    height:auto;
    margin-top:15px;
    margin-bottom:0px;
    cursor:zoom-in
}    
.featured-image{
    max-width:750px;
    margin:0px auto;
	height:200px;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}
.date{
    font-family: var(--main-font);
    margin-left:7%;
    font-size:0.9em;
    margin-top:0px;
    margin-bottom:20px;
    color:var(--subheading-color);
}
#enjoy-paragraph{
    width:85%;
    margin: 0 auto;
    font-family: var(--serif-font);
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 35px;
    color:var(--green-color);
}
/* back link */
#back-link{
    display: block;
    text-decoration: none;
    font-family: var(--main-font);
    color:var(--subheading-color);
    margin-top:50px;
    margin-left:15px;
}
#back-link:hover{
    text-decoration: underline;
}
.fa-angle-left{
    margin-right:5px;
}
/* Image modal for post-images */
.post-image-modal{
    position:fixed;
    width: 100%;
    max-width:700px;
    height:50%;
    top:25%;
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}
.image-modal{
    background-color: rgba(0, 0, 0, 0.905);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
}
/* modal closing X */
.fa-times{
    position: fixed;
    font-size: 3em;
    color:rgb(187, 187, 187);
    height:50px;
    z-index: 100;
    cursor:pointer;
    top:2%;
    right:0;
    bottom:0;
    left:85vw;
}
.fa-times:hover{
    color:var(--green-color);
}
/* FOOTER*/
footer{
    border-top:1px solid var(--green-color);
    margin: 0px auto;
    margin-top:75px;
}
/* MEDIA QUERIES */

@media only screen and (min-width:500px){

    .post-image-modal{
        top:20%;
        height:65vh;
    }

}
@media only screen and (min-width:850px){

    .post-image-modal{
        top:15%;
    }
    .featured-image{
        height:275px;
    }
}
@media only screen and (min-width:1200px){
    .fa-times{
        left:50vw;
    }
    .post-image-modal{
        width: 85%;
        height:85%;
        top:7%;
        margin:0px auto;
    }
}