main{
 max-width:850px;
 margin:0px auto;
}
h1{
    margin-top:35px;
    margin-left:10%;
    margin-bottom:0px;
}
h2{
    font-family:var(--serif-font);
    font-size:1.5em;
    font-weight:bold;
    margin-top:50px;
}
h3{
    font-size: 1.1em;
    font-weight:bold;
    color:var(--subheading-color);
}
.wp-block-image img {
    max-width:100%;
    height:auto;
    margin-top:25px;
    margin-bottom:15px;
    cursor:zoom-in
}    
.post-content{
    max-width:85%;
    margin:0px auto;
}
.post-content p{
    padding-top:10px;
}
.featured-image{
    width: 100%;
    max-width:750px;
    margin:0px auto;
	height:200px;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}
.date{
    margin-left:10%;
    font-size:0.9em;
    font-style: italic;
    margin-top:0px;
    margin-bottom:20px;
    color:var(--subheading-color);
}

/* Image modal for post-images */
.post-image-modal{
    position:fixed;
    width: 80vw;
	height:35vh;
    margin-left:10vw;
    margin-top:35%;
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}
.image-modal{
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:98;
}
/* modal closing X */

.fa-times{
    position: absolute;
    font-size: 2em;
    color:rgb(187, 187, 187);
    z-index: 100;
    right:0;
}

/* MEDIA QUERIES */

@media only screen and (min-width:500px){

    .post-image-modal{
        margin-top:5%;
        height:65vh;
    }

}
@media only screen and (min-width:850px){

    .post-image-modal{
        top:10%;
        right:0;
        bottom:0;
        left:0;
    }
}
@media only screen and (min-width:1600px){

    .post-image-modal{
        top:5%;
    }
}